@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #5722ab;
  --secondary-color: #c97433;
  --tertiary-color: #301014;
  --black-color: #0d1117;
  --white-color: #eef0f2;
  --dark-grey-color: #292929;
  --light-grey-color: #969696;
  --font-title: "Montserrat", sans-serif;
  --font-subtitle: "Poppins", sans-serif;
}

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

body {
  font-family: var(--font-title);
  background-color: var(--black-color);
  color: var(--white-color);
}

section {
  padding-top: 12vh;
  scroll-margin-top: 12vh;
  min-height: 100vh;
}

section h1 {
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 3vh;
}

h1 {
  font-family: var(--font-title);
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--primary-color);
  margin-top: 1rem;
}

h2 {
  font-family: var(--font-subtitle);
  font-size: 2rem;
  font-weight: 900;
  color: var(--secondary-color);
  margin-top: 1vh;
}

a {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--font-subtitle);
}

nav {
  min-width: 100vw;
  position: fixed;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 3rem;
  z-index: 1000;
}
nav img {
  height: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: bold;
  font-family: var(--font-subtitle);
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--primary-color);
}

footer {
  padding-top: 12vh;
  color: var(--white-color);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#About ul {
  display: flex;
}
#About li {
  text-align: center;
  justify-content: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;

  max-width: 30vw;
  max-height: 33vw;
}

#About li a {
  font-size: 1rem;
  font-family: var(--font-subtitle);
  text-align: center;
  margin-top: 1vh;
  max-width: 10vw;
  margin-left: 10vw;
}

.objective-cards {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  place-items: center;
  place-content: center;
  overflow: hidden;
  height: 100%;
}

.objective-cards li {
  overflow: hidden;
}

.card {
  max-width: 20vw;
  height: 50vh;
  position: relative;
  cursor: help;
  transition: opacity 0.5s;
  margin-top: 5vh;
  justify-content: center;
  text-align: center;
  transition: max-width 0.5s;
  overflow-y: hidden;
}

.img-wraper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.img-wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
  justify-self: center;
}

.card-text {
  position: absolute;
  justify-content: center;
  text-align: center;
  top: 12vh;
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
  color: var(--white-color);
  text-shadow: var(--black-color);
}

.card h2 {
  font-size: 2rem;
  font-family: var(--font-title);
  text-align: center;
  padding-top: 5vh;
}

.card p {
  font-size: 1.2rem;
  font-family: var(--font-subtitle);
  text-align: center;
}

.card:hover .card-text {
  opacity: 1;
}

.card:hover .img-wraper {
  opacity: 0.3;
  top: 15%;
}

.card:hover {
  max-width: 30vw;
}

.container {
  margin-left: 30vw;
  background-color: var(--white-color);
  border-radius: 2vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 40vw;
  height: 63vh;
  font-family: var(--font-subtitle);
  opacity: 0.9;
}

.header {
  background-color: var(--light-grey-color);
  padding: 2vh;
  opacity: 1;
}

.header h2 {
  color: var(--primary-color);
  margin: 0;
}

.form {
  padding: 2vh;
}

.form-control {
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 1vh;
  color: var(--primary-color);
}

.form-control input {
  border: 2px solid var(--white-color);
  display: block;
  border-radius: 1vh;
  font-size: 1.4vh;
  width: 100%;
  padding: 1rem;
}

.form-control i {
  position: absolute;
  top: 4.5vh;
  right: 1vw;
  visibility: hidden;
}

.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form button {
  margin-top: 3vh;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  height: 7vh;
}

.form button:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  cursor: pointer;
}

.form-control.success input {
  border-color: green;
}

.form-control.error input {
  border-color: red;
}

.form-control.success i.fa-check-circle {
  color: green;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: red;
  visibility: visible;
}

.form-control.error small {
  color: red;
  visibility: visible;
}

.btn_default {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding: 10px 14px;
  max-width: 7vw;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  color: var(--white-color);
}

.btn_default:hover {
  background-color: var(--secondary-color);
}
